<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Api">
            <directory>./test/Api</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib/Upcloud</directory>
            <directory suffix=".php">./lib/Model</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="memory_limit" value="2048M" />
        <env name="UPCLOUD_SDK_TEST_NO_CREDENTIALS" value="true" />
        <env name="UPCLOUD_SDK_TEST_USER" value="" />
        <env name="UPCLOUD_SDK_TEST_PASSWORD" value="" />
    </php>
</phpunit>
